*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILItà */
.background_full{
    background-color: #1abc9c;
    padding: 40px 0px;
    margin-bottom: 50px;
}
.title_section{
    width: 100%;
    /* border: 1px dashed black; */
    margin-bottom: 20px;
}
/* FINE UTILItà */

/* HEADER */
.background_header{
    width: 100%;
    background-color: #2c3e50;
    padding: 10px 0px;
}
.left_navbar{
    color: white;
    text-transform: uppercase;

    font-weight: bold;
}
.toggler_navbar{
    border: 1px solid white;
    color: white;
}
.toggler_filter{
   filter: invert(1);
}
.nav_link{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/* FINE HEADER */

/* JUMBOTRON */
.content_jumbotron{
    width: 100%;
    /* border: 1px dashed black; */
}

#jumbotron{
    padding-top: 100px;
}
.content_jumbotron img{
    width: 200px;

}
.title_section h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.line_star{
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.title_section i{
    color: white;
    font-size: 30px;
}

.profession{
    color: white;
    text-transform: uppercase;
    text-align: center;
}
/* FINE JUMBOTRON */

/* PORTFOLIO */
.square_img{
    width: 100%;
    /* border: 1px dashed black; */
}
.square_img img{
    width: 100%;
    border-radius: 10px;
}
/*FINE PORTFOLIO */

/* ABOUT */
.background_full:nth-last-child(2){
    margin-top: 100px;
}

.about_left, .about_right{
    width: 100%;
    /* border: 1px dashed black; */
    margin-bottom: 30px;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px dashed black; */
    margin-bottom: 40px;
}
/* FINE ABOUT */

/* CONTACT ME */
.content_contact{
    width: 100%;
    /* border: 1px dashed black; */
}

.form_style{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}

.btn_contact_me{
    font-size: 20px;
    color: white;
    background-color: #1abc9c;
    border-radius: 5px;
    padding: 7px 20px;
    border:none;
}

/* FINE CONTACT ME */


/* TOP FOOTER*/
.background_footer{
    background-color: #3a546d;
    margin-top: 60px;
}

.footer_left span,.footer_right span,.footer_center span  {
    display: block;
}

.cirle_icon{
    margin-left: 5px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(255, 255, 255);
    position: relative;

}
.cirle_icon i{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.social_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_right a{
    text-decoration: none;
    color: #1abc9c;
}

/* FOOTER DOWN */
.background_footer_down{
   background-color: #2c3e50;
}

.footer_down{
    width: 100%;
    /* border: 1px dashed white; */
}
.footer_down i{
    font-size: 13px;
}
/* FINE FOOTER */